<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilates Complete</title>
  </head>
  <body style="height: 100%; margin: 0;">
    <main style="height: 100%;">
		{{ block "main" .}}
		{{ end }}
	</main>
  </body>
</html>
