<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilates Complete</title>
  </head>
  <body>
    <main>
		{{- if not .Authenticated }}
		<form action="/" method="POST">
			<label for="logn">E-mail / phone number / personal number</label>
			<input id="login" name="login" type="text" />

			<label for="password">Password</label>
			<input id="password" name="password" type="password" />

			<input type="submit" value="Login"/>
		</form>
		{{- else }}
		<p>welcome</p>
		{{- end }}
    </main>
  </body>
</html>
